h2 {
    color: rgb(189, 27, 65);
}

.gallery {
    display: flex;
    justify-content: space-evenly;

    flex-flow: row wrap;
}

.product-card {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  background: #f7bde8;
  border-radius: 16px;
  max-width: 320px;
  max-height: 650px;
}

.product-image {
  border-radius: 16px;
  align-self: center;
  width: 200px;
  height: 250px;
}

.product-description {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.4;
  max-height: 4em;
  min-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-name {
  max-height: 2.5em;
  min-height: 2.5em;
  margin-left: 5%;
  margin-right: 5%;
}

.product-price {
  color: #cd1bb5;
  align-self: center;
  font-size: 1.5rem;
  font-family: monospace;
}

.product-category{
  color: rgb(108, 4, 156);
  margin-left: 5%;
  margin-right: 5%;
}

.product-brand {
  color: rgb(108, 4, 156);
  margin-left: 5%;
  margin-right: 5%;
}